
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Login</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.css'>
  <style>
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    </style>
</head>
<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui image header">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
          <form method="post" class="ui large form">
            <div class="ui stacked secondary  segment">
                {% csrf_token %}
              <div class="field">
                  {{ form.user_name.errors }}
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  {{ form.user_name }}
                </div>
              </div>
              <div class="field">
                  {{ form.password.errors }}
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  {{ form.password }}
                </div>
              </div>
              <button type="submit" class="ui fluid large teal submit button">Login</button>
            </div>
          </form>
              </div>
      </div>  
</body>
</html>


